@font-face {
  font-family: "Louis George Cafe";
  src: url("css/fonts/Louis George Cafe.ttf");
}

@font-face {
  font-family: "Dolce Vita";
  src: url("css/fonts/Dolce Vita.ttf");
}

html {}

body {
  margin: 0;
}

.header {
  display: table;
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  top: 0;
  height: 7%;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: thick;
  font-family: 'Louis George Cafe', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.footer {
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Louis George Cafe', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.circle {
  content: ' \25CF';
  font-size: 200px;
  text-shadow: 2px 2px 5px red;
}

.msg {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Louis George Cafe', Arial, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
  font-size-adjust: auto;
  text-indent: 20px;
}

.banner {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-family: 'Dolce Vita', Arial, sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5em;
  font-size-adjust: auto;
  direction: rtl;
  text-indent: 20px;
}

.footer-date {
  position: absolute;
  right: 0px;
  font-family: 'Louis George Cafe', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.main {
  margin: 100px;
}

.btn {
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border: black 3px solid;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}

.btn:hover {
  border: #333 3px solid;
}

.btn:hover .bar {
  background-color: #333;
}

.btn .bar {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 20px;
  border-radius: 3px;
  background-color: black;
  transform-origin: center;
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}

.btn.pause .bar-1 {
  transform: translateX(13.5px) translateY(0px) rotate(0deg);
}

.btn.pause .bar-2 {
  transform: translateX(24px) translateY(0px) rotate(0deg);
}

.btn.play .bar-1 {
  transform: translateX(20px) translateY(-5px) rotate(-55deg);
}

.btn.play .bar-2 {
  transform: translateX(20px) translateY(5px) rotate(-125deg);
}

.btn.backward .bar-1 {
  transform: translateX(18px) translateY(-5px) rotate(55deg);
}

.btn.backward .bar-2 {
  transform: translateX(18px) translateY(5px) rotate(125deg);
}

audio {
  display: none;
}

#playbutton {
  position: fixed;
  bottom: 45%;
  right: 25%;
}

#forward {
  position: fixed;
  bottom: 45%;
  right: 20%;
}

#backward {
  position: fixed;
  bottom: 45%;
  right: 30%;
}

.channels {}

.channel {
  vertical-align: middle;
  font-family: 'Louis George Cafe', Arial, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
  font-size-adjust: auto;
  text-indent: 20px;
}

.channel .selection {

}

.channel .slot-1 {

}

.channel .slot-1 {

}

.channel .slot-1 {

}

.channel .slot-1 {

}

.channel .slot-1 {

}

.channel .slot-1 {

}
